/* SWATCHES ---------------------------------------------------------------------- */

span.cm-attribute	{ color: #16d3ea; }
span.cm-builtin     { color: #16d3ea; }
span.cm-def			{ color: #16d3ea; }
span.cm-header      { color: #16d3ea; }
span.cm-qualifier	{ color: #16d3ea; }
span.cm-variable	{ color: #16d3ea; }

span.cm-atom		{ color: #bbeb1b; }
span.cm-link		{ color: #bbeb1b; }
span.cm-string		{ color: #bbeb1b; }
span.cm-string-2    { color: #bbeb1b; }

span.cm-meta		{ color: #7fb0ff; }
span.cm-property	{ color: #7fb0ff; }
span.cm-tag			{ color: #7fb0ff; }

span.cm-variable-2	{ color: #be9cff; }
span.cm-variable-3	{ color: #be9cff; }

span.cm-comment		{ color: #667689; }
span.cm-error		{ color: #ff3a95; }
span.cm-keyword		{ color: #e9e9e9; }
span.cm-operator	{ color: #ffffff; }

span.cm-number		{ color: #ff7dfe; }

span.cm-bracket		{ color: #3b6fff; }


/* MISC ---------------------------------------------------------------------- */

.CodeMirror {
    line-height: 1.4;
}

.CodeMirror-scroll {
	background: #2e2e31;
	color: #d9d9d9;
}

.CodeMirror-cursor {
	border-left: 2px solid #00e2ff !important;
}

.CodeMirror-overwrite .CodeMirror-cursor {
    border-bottom: 1px solid #00e2ff !important;
    border-left: none !important;
}

.CodeMirror-gutters {
	background: #2e2e31;
	border-right: 1px solid #262629;
}

.CodeMirror-linenumber {
	color: #45484d;
}

.CodeMirror-selected {
	background: #1c5393 !important;
}

/* Matching */

.CodeMirror-matchingbracket {
    background: transparent !important;
	border-bottom: 3px solid #e36be6 !important;
    color: #fff !important;
}

.CodeMirror-matchingtag {
    background: transparent !important;
	border-bottom: 2px solid #e36be6 !important;
}

/* Active Line */

.CodeMirror-focused .CodeMirror-activeline .CodeMirror-nonmatchingbracket {
	color: #ff0076 !important;
}

.CodeMirror-activeline-background {
	background: #3b3b3e !important;
}

.CodeMirror-focused .CodeMirror-activeline .CodeMirror-gutter-elt {
	color: #fff;
    background-color: #2e2e31;
}

.CodeMirror-focused .CodeMirror-activeline .inline-widget .CodeMirror-gutter-elt {
	color: #fff;
}

/* Non-editor styling */

#image-holder,
#not-editor {
    background-color: #2e2e31;
}

#image-holder {
    color: #d9d9d9;
}
