/* SWATCHES ---------------------------------------------------------------------- */

span.cm-atom		{ color: #bbeb1b; }
span.cm-link		{ color: #bbeb1b; }
span.cm-string		{ color: #bbeb1b; }

span.cm-property	{ color: #658fff; }
span.cm-tag			{ color: #658fff; }

span.cm-comment		{ color: #667689; }
span.cm-error		{ color: #ff0076; }
span.cm-keyword		{ color: #e9e9e9; }
span.cm-operator	{ color: #ffffff; }

span.cm-variable-2	{ color: #9cabff; }

span.cm-attribute	{ color: #00e2ff; }
span.cm-def			{ color: #00e2ff; }
span.cm-header      { color: #00e2ff; }
span.cm-qualifier	{ color: #00e2ff; }
span.cm-variable	{ color: #00e2ff; }

span.cm-builtin     { color: #f95eff; }
span.cm-number		{ color: #f95eff; }

span.cm-meta		{ color: #3b6fff; }
span.cm-bracket		{ color: #3b6fff; }


/* MISC ---------------------------------------------------------------------- */

.CodeMirror,
.CodeMirror .CodeMirror-scroll {
	background: #111112;
	color: #d9d9d9;
}

.CodeMirror-cursor {
	border-left: 1px solid #00e2ff !important;
}

.CodeMirror-gutters {
	background: #111112;
	border-right: 0;
}

.CodeMirror-linenumber {
	color: #45484d;
}

.CodeMirror-selected {
	background: #1c5393 !important;
}

/* Matching */

.CodeMirror-matchingbracket {
    background: transparent !important;
	border-bottom: 3px solid #f95eff !important;
    color: #fff !important;
}

.CodeMirror-matchingtag {
    background: transparent !important;
	border-bottom: 3px solid #f95eff !important;
    color: #fff !important;    
}

/* Active Line */

.CodeMirror-focused .CodeMirror-activeline .CodeMirror-nonmatchingbracket {
	color: #fff !important;
}

.CodeMirror-activeline-background {
	background: #1d1d1d !important;
}

.CodeMirror-focused .CodeMirror-activeline .CodeMirror-gutter-elt {
	color: #fff;
	background-color: #45484d !important;
}

.CodeMirror-focused .CodeMirror-activeline .inline-widget .CodeMirror-gutter-elt {
	color: #000;
}
